# This is not a real Debian control file
# It's project metadata for the shipper tool

Package: hexdump

Description: Dump binary files in a CP/M-like hex format.
 Yes, it's yet another textual hex dumper for people who think od -x
 output is ugly.  This one produces a nice CP/M-like format by default
 and can do EBCDIC.  It's internationalized, too.  Has many optional
 formatting functions.

XBS-Destinations: freecode

XBS-Logo: hexdump.png

Homepage: http://www.catb.org/~esr/hexdump

XBS-HTML-Template: index.html

XBS-Gitorious-URL: https://gitorious.org/hexdump

XBS-Ohloh-URL: https://www.ohloh.net/p/hexdump-curses

XBS-Freecode-Tags: hex, binary, dump

XBS-VC-Tag-Template: %(version)s
